**Kullanıcının girdiği ad, soyad ve yaş bilgilerini tutan bir dictionary oluşturunuz.**

* Kullanıcının ad değerini, büyük harfler ile güncelleyiniz.
* Kullanıcının yaş değerine 2 ekleyiniz.
* Dictionary'e kullanıcının en sevdiği rengi ekleyiniz key-value şeklinde ekleyiniz.
* Kullanıcının adını ve soyadını kapsayan yeni bir key-value ekleyiniz.
* Kullanıcının ad değerini dictionary'den kaldırınız.

In [48]:
isim = input("İsim giriniz")
soyisim = input("Soyisminizi giriniz")
yas = int(input("Yaşınızı giriniz."))
my_dict = {
    "name":isim,
    "surname":soyisim,
    "age":yas
}
my_dict

{'name': 'ceren', 'surname': 'yilmaz', 'age': 22}

In [49]:
my_dict["name"] =(my_dict["name"].upper())

my_dict

{'name': 'CEREN', 'surname': 'yilmaz', 'age': 22}

In [50]:
my_dict["age"]+=2
my_dict

{'name': 'CEREN', 'surname': 'yilmaz', 'age': 24}

In [51]:
color = input("sevdiğiniz rengi giriniz")
my_dict["color"] = color

my_dict

{'name': 'CEREN', 'surname': 'yilmaz', 'age': 24, 'color': 'mor'}

In [52]:
my_dict["name_surname"] = my_dict["name"] + " " + my_dict["surname"]

my_dict

{'name': 'CEREN',
 'surname': 'yilmaz',
 'age': 24,
 'color': 'mor',
 'name_surname': 'CEREN yilmaz'}

In [53]:
del my_dict["name"]

my_dict

{'surname': 'yilmaz',
 'age': 24,
 'color': 'mor',
 'name_surname': 'CEREN yilmaz'}

* Kullanıcının verdiği aralığa göre, key değerleri o anki sayı, value değerleri o anki sayının karesi olan bir dictionary oluşturunuz.

* Örnek olarak, kullanıcı aralık olarak 2 ve 7 girmiş olsun. Bizden beklenen dictionary şu şekilde olmalıdır;

* {2: 4, 3: 9, 4: 16, 5: 25, 6:36, 7:49}

In [16]:
start = int(input())
end = int(input())
dict2 = {} 

for i in range(start, end+1):
    dict2[i] = i*i

dict2

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [18]:
start, end = (input("Başlangıç ve bitiş değerlerini arada boşluk bırakarak giriniz: ").split())

karesi = {i: i**2 for i in range(int(start), int(end)+1)}
print(karesi)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [23]:
myUsers = [
    {
        "Name":"Rosalind",
        "Surname": "Rich",
        "Age": 23
    }
    ,{
        "Name":"Annika",
        "Surname": "Keenan",
        "Age": 28
    }
    ,{
        "Name":"Emillie",
        "Surname": "Plummer",
        "Age": 17
    }
    ,{
        "Name":"Kourtney",
        "Surname": "Pate",
        "Age": 30
    }
    ,{
        "Name":"Virgil",
        "Surname": "Solomon",
        "Age": 40
    }
    ,{
        "Name":"Bobby",
        "Surname": "Jordan",
        "Age":33
    }
    ,{
        "Name":"Alfie",
        "Surname":"James Robson",
        "Age": 16
    } 
    ,{
        "Name":"Isla",
        "Surname":"Grace Tran",
        "Age": 64
    } 
    ,{
        "Name":"Arif",
        "Surname": "Rivas",
        "Age": 43
    }
    ,{
        "Name":"Zakaria",
        "Surname": "Whitehead",
        "Age": 82
    }
    ,{
        "Name":"Casper",
        "Surname": "Velasquez",
        "Age": 57
    }
    ,{
        "Name":"Caoimhe",
        "Surname": "Ali",
        "Age": 34
    }
    ,{
        "Name":"Viola",
        "Surname": "Shepherd",
        "Age": 18
    }
]

Aşağıda verilen liste ile istenilen işlemleri yapınız.

* Yaşı 20'den büyük olanları ekrana yazdırınız.
* Adı 'A' ile başlayanları ekrana yazdırınız.
* Soyadı 'J' ile başlayanları ekrana yazdırınız.
* Adı 'C' ile soyadı 'A' ile başlayanları ekrana yazdırınız.
* Adının içinde 'A' ahrfi geçenleri ekrana yazdırınız.
* Yaşı tek sayı olanları ekrana yazdırınız.
* Kullanının yaşını, (kullanıcının yaşı + kullanıcının soyadının uzunluğu) şeklinde güncelleyiniz.
* Kullanıcının adını ve soyadını içeren FullName adında yeni bir key-value pair oluşturunuz.

In [35]:
print(list(filter(lambda x: x["Age"] > 20, myUsers)))

[{'Name': 'Rosalind', 'Surname': 'Rich', 'Age': 23}, {'Name': 'Annika', 'Surname': 'Keenan', 'Age': 28}, {'Name': 'Kourtney', 'Surname': 'Pate', 'Age': 30}, {'Name': 'Virgil', 'Surname': 'Solomon', 'Age': 40}, {'Name': 'Bobby', 'Surname': 'Jordan', 'Age': 33}, {'Name': 'Isla', 'Surname': 'Grace Tran', 'Age': 64}, {'Name': 'Arif', 'Surname': 'Rivas', 'Age': 43}, {'Name': 'Zakaria', 'Surname': 'Whitehead', 'Age': 82}, {'Name': 'Casper', 'Surname': 'Velasquez', 'Age': 57}, {'Name': 'Caoimhe', 'Surname': 'Ali', 'Age': 34}]

In [ ]:
print(list(filter(lambda x: x["name"] > 20, myUsers)))

**Kullanıcının girdiği string içerisindeki unique karakterleri ekrana yazdırınız.**

In [20]:
str = input()
print(set(str))

{'c', 'e', 'ü', 'l', 'm'}

Verilen iki set için aşağıdaki işlemleri yapınız;

* İki set arasındaki farkı ekrana yazdırınız.
* İki set içerisinde ortak olanları ekrana yazdırınız.
* İki seti birleştirip ekrana yazdırınız.
* İlk set içerisinde olmayıp ikinci set içerisinde olan değerleri ekrana yazdırınız.
* İkinci set içerisinde olmayıp ilk set içerisinde olan değerleri ekrana yazdırınız.

set1 = {True, False, 1, 2, 3, 4, 's', 'i', 's', 't', 'e'}

set2 = {'r', 's', 'l', 'a', 'b', None, 6, 7, 8, 9}

Kullanıcıdan alınan string ifadedeki karakterlerin kaç kere tekrar ettiğini tutan bir dictionary oluşturunuz.

sisterslab için örnek çıktı şu şekilde olmalıdır

{'s': 3, 'r': 1, 'e': 1, 'l': 1, 'b': 1, 't': 1, 'a': 1, 'i': 1}

**Dosya Uygulama Seansları**

In [ ]:
with open("files/example.txt",'a') as exampleFile:
    exampleFile.write("Sohbet Seansi \n")
    exampleFile.write("Sohbet Seansi \n")
    exampleFile.write("Sohbet Seansi \n")

with open("files/example.txt",'r') as exampleFile:
    print(exampleFile.read())

with open("files/example.txt",'w') as exampleFile:
    exampleFile.write("Sohbet Seansi \n")

with open("files/example.txt",'r') as exampleFile:
    print(exampleFile.read())

In [ ]:
name, surname = input('Your name: '), input('Your surname: ')

with open("files/example.txt",'a') as exampleFile:
    exampleFile.write(f'User Name: {name} \nUser Surname: {surname}')

In [ ]:
N = 5
with open("example.txt") as f:
    lines = [f.readline() for x in range(N)] 
print(lines)
with open("example.txt") as f:
    firstNlines=f.readlines()[0:5]
print(firstNlines)