**Set**

* index ile erişilemezler.Unordered yani sıralı değillerdir. Bir sete erişmek istediğinizde sıralama her seferinde farklılaşacaktır.
* Set'ler değiştirilemezler, yani immutable.Tuple'dan farkı yeni eleman ekleyip çıkarabliyoruz, ama setin içerisindeki bir elemanı değiştiremiyoruz.
* {} parantez içerisinde virgüllerle ayrılarak tanımlanır.
* Farklı tipte veri taşımaya izin verir.
* Aynı değeri sahip iki eleman YER ALAMAZ. Duplicate veri taşımazlar.

In [1]:
int_set = {1,2,3,4}
str_set = {"Rüveyda", "Ece", "Merve", "Zeynep", "Bilge"}

mix_set = {12, "Sude", 10234.6, True}

In [5]:
print(mix_set)

{'Sude', 10234.6, 12, True}

In [6]:
print(type(mix_set))

<class 'set'>

In [13]:
my_set = {1, 3, 8, 1, 2, 8, 0, 9}
print(my_set)

{0, 1, 2, 3, 8, 9}

In [11]:
mylist = [ 3, 8,  2, "Ece", "Ece", True, 8,  False, 9, 19, False, 3, 2]
print(mylist)

my_set = set(mylist)
print(my_set)

[3, 8, 2, 'Ece', 'Ece', True, 8, False, 9, 19, False, 3, 2]
{False, 'Ece', 2, 3, True, 8, 9, 19}

In [17]:
#Tuple'lar değişitirilemez olduğundan set içeriinde parantezle gösterileblir.
#Set içerisinde tuple kullanımı
my_set  = {"Ayşe Nur", "Duygu", "Başak", ("Müzeyyen", "İrem", "Nihal")}
print(my_set)

{'Duygu', 'Başak', 'Ayşe Nur', ('Müzeyyen', 'İrem', 'Nihal')}

In [1]:
#Bir setin içerisinde değiştirilebilir özellikli listeler tutulamaz.
#Set içerisinde list kullanımı
my_set  = {"Ayşe Nur", "Duygu", "Başak", ["Müzeyyen", "İrem", "Nihal"]}
print(my_set)

TypeError: unhashable type: 'list'

**Boş bir set oluşturma;**

* **empty_set**  = set( )

Boş bir liste ve tuple oluşturmak istedğimizde;
* **my_list = [ ]**
* **my_tuple = ( )**

Setlerde durum farklıdır.

In [19]:
empty_set  = set()
print(type(empty_set))

<class 'set'>

In [20]:
empty_set = {}
print(type(empty_set))

<class 'dict'>

**Elemanlara Erişim**

In [24]:
movies = {"How I Met Your Mother?", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}

for item in movies:
    print(item)

The Big Bang Theory
Breaking Bad
Friends
Person of Interest
How I Met Your Mother?

**Set içerisinde eleman kontrolü**

In [27]:
movies = {"How I Met Your Mother?", "The Big Bang Theory", "Breaking Bad", "Friends", "Person of Interest"}
#in kontrolüyle true false karşılaştırması yaparak kontrol ederiz.
#in var mı, not in yok mu kontrolü
if "Harry Pother" in movies: print("Diziler içerisinde mevcut")
else: print("Diziler içerisinde mevcut değil")

Diziler içerisinde mevcut değil

In [28]:
print("Dizi Setinin uzunluğu: ", len(movies))

Dizi Setinin uzunluğu:  5

**Bir Set'e Eleman Ekleme**
* **add()** ile set'e yeni bir eleman ekliyoruz.
* **update()** ile birden fazla değer ekleme işlemi yapabiliyoruz.

In [40]:
books = {"Harry Potter", "Serenad", "Müşterinizin Beynindeki Satın Alma Düğmesine Basmak", "Merhaba Dünya"}

books.add("Bu İş Asla Tutmaz")
print(books)

books.add("Harry Potter") #mevcut değeri yeniden eklemez.
print(books)

{'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz'}
{'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak', 'Harry Potter', 'Merhaba Dünya', 'Serenad', 'Bu İş Asla Tutmaz'}

In [41]:
#update

books.update(["Körlük","İnce Memed"])
books

{'Bu İş Asla Tutmaz',
 'Harry Potter',
 'Körlük',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

Bir set içerisinde Eleman Silme

* remove()
* discard()
* pop()
* clear()
* del set

In [58]:
#remove()
books = {'Bu İş Asla Tutmaz','Harry Potter','Körlük','Merhaba Dünya','Müşterinizin Beynindeki Satın Alma Düğmesine Basmak','Serenad','İnce Memed'}

books.remove("Harry Potter")
books

{'Bu İş Asla Tutmaz',
 'Körlük',
 'Merhaba Dünya',
 'Müşterinizin Beynindeki Satın Alma Düğmesine Basmak',
 'Serenad',
 'İnce Memed'}

In [59]:
#Set içerisinde olmayan bir değeri silmek istersek hata alırız.
books.remove("Harry Potter")
books

KeyError: 'Harry Potter'

In [60]:
#discard() ->remove'dan farkı, olmayan değeri silmeye çalışınca hata vermez
books.discard('Müşterinizin Beynindeki Satın Alma Düğmesine Basmak')
books

{'Bu İş Asla Tutmaz', 'Körlük', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [61]:
books.discard("Harry Potter")
books

{'Bu İş Asla Tutmaz', 'Körlük', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [62]:
#pop()-> rastegele sonundan bir eleman siler.
books.pop()
books

{'Bu İş Asla Tutmaz', 'Merhaba Dünya', 'Serenad', 'İnce Memed'}

In [63]:
#clear()-> tüm elemanları siler, boş bir set döner
books.clear()
books

set()

In [64]:
#del -> tamamını siler
del books
books

NameError: name 'books' is not defined

Set üzerinde kullanabileceğimiz operatörler

* union()-> |
* intersection()-> &
* difference()-> -
* symmetric_difference()-> ^

**Union()**

İki seti birleştirmek için kullanılır. İki set içerisinde aynı değerden 2 tane varsa sadece 1 tanesini alır.

In [65]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3  = my_set1 | my_set2 #operatör kullanımı

my_set3

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

In [66]:
my_set4 = my_set1.union(my_set2)
my_set4

{'Asena', 'Aysel', 'Behice', 'Emre', 'Ezgi', 'Hatice', 'Kübra', 'Merve'}

**Intersection(Kesişim)**

İki küme içerisinde yer alan ortak elemanları döndürür. Kesişim elemanları.

In [69]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 & my_set2 #operatör kullanımı
my_set3

{'Ezgi', 'Merve'}

In [71]:
my_set4 = my_set1.intersection(my_set2)
my_set4

{'Ezgi', 'Merve'}

**intersection_update()**

Yalnızca her iki kümede de bulunan öğeleri tutacaktır.

In [75]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set1.intersection_update(my_set2)
my_set1

{'Ezgi', 'Merve'}

**Difference()**

Fark anlamına gelir. İki kümede farkını alır.

In [83]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

my_set3 = my_set1 - my_set2 #operatör kullanımı
my_set3

{'Asena', 'Aysel', 'Emre'}

In [84]:
my_set1.difference(my_set2)

{'Asena', 'Aysel', 'Emre'}

In [85]:
my_set1

{'Asena', 'Aysel', 'Emre', 'Ezgi', 'Merve'}

In [88]:
my_set1.difference_update(my_set2) #aradaki farkı bulup, bu sete o değerleri atar

In [89]:
my_set1 #update olarak yaptığınız işlemlerde, hangi kümeyi başta kullanılıyorsa o küme updatele yapılan işlemi alıyor.

{'Asena', 'Aysel', 'Emre'}

**Symmetric Difference**

Kesişim dışında kalan değerleri almak için kullanılır. Yalnızca her iki kümede de OLMAYAN öğeleri içeren yeni bir küme döndürür.

In [99]:
my_set1 = {"Aysel", "Merve", "Emre", "Asena", "Ezgi"}
my_set2 = {"Merve", "Ezgi", "Hatice", "Behice", "Kübra"}

unique_set = my_set1 ^ my_set2 #operatör kullanımı
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

In [100]:
unique_set2 = my_set2.symmetric_difference(my_set1)
unique_set

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**Symmetric Difference Update**

In [101]:
my_set1.symmetric_difference_update(my_set2)
#her iki kümede de olmayan değeri tutmayarak ilk kümeye atama yapılarak yazdırılır.
my_set1

{'Asena', 'Aysel', 'Behice', 'Emre', 'Hatice', 'Kübra'}

**Kopyalama İşlemleri**

* copy()
* =
* set()

In [108]:
# = operatörü ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True, 'Vildan'}

In [110]:
#copy() methodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = my_set.copy()

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True}

In [111]:
# set() methodu ile
my_set = {"Sezen", "Ahmet", True, 18}
my_set2 = set(my_set)

my_set.add("Vildan")
my_set2

{18, 'Ahmet', 'Sezen', True}

subset and superset

altküme ve üst küme

In [113]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
languages2 = {"Kotlin", "Java"}
#languages languages2'nin üst kümesi midir
print(languages.issuperset(languages2)) #üst kümesi (superset) mi diye soruluyor
print(languages.issubset(languages2)) #alt kümesi midir diye soruluyor

True
False

**isdisjoint()**->İki kümenin ayrık olup olmadığını kontrol eder. Bağımsız mı ortak eleman var mı yok mu onu görürürz.

In [115]:
languages = {"Python", "C#", "Java", "Kotlin", "Dart"}
#languages2 = {"Kotlin", "Java", "Flutter"} böyle olunca false
languages2 = {"Flutter"} #böyle olunca true
#ortak değer varsa False, yoksa ayrık kümelerse True döndürür.
print(languages.isdisjoint(languages2))

True

**Frozenset** -> Değişmez bir set oluşturmak istenildiğinde kullanılır.

In [117]:
frozen_set = frozenset({"Nihan", "Edanur", "Buse", "Sena"})

In [119]:
frozen_set.add(6) #değer ekleyemeyeceğimizi göstererek hata alırız.

AttributeError: 'frozenset' object has no attribute 'add'

In [120]:
#İki set içerisinde yer alan benzersiz elemanları ekrana basalım.

my_set1 = {10,20,30,40,50}
my_Set2  = {40,50,60,80}

print(my_set1.symmetric_difference(my_Set2))

{10, 80, 20, 60, 30}

In [126]:
#Bir listenin tüm elemanlarını bir sete ekleme işlemini yapalım.

my_list = [1,2,3,4]
my_set = {1,4,7,9,0}

my_set.update(my_list)
my_set

{0, 1, 2, 3, 4, 7, 9}

In [138]:
#Bir set içerisinde yer alan çift sayıları sil

my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

my_list = [i for i in my_set if i %2 ==0]
# my_list = []
#for item in my_set:
#   if item %2==0:
#      my_list.append(item)
        
for i in my_list:
    my_set.remove(i)

my_set

{1, 3, 5, 7, 9}

In [137]:
#list comprehension yöntemiyle
my_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
my_list = [i for i in my_set if i %2 ==0]#Set içerisindeki çift sayıları yazdırdık

my_list

[2, 4, 6, 8, 10]